h2 {
    font-size: 15vmin;
}
h3 {
    font-size: 1cm;
}
p {
    font-size: 5mm;
    line-height: 0.5in;
}
.mydiv {
    margin: 25px;
    font-size: 5em;
}
.img {
    display: inline;
    width: 20em;
}